<h1>My hosts</h1>
<p>Click link to see all!</p>


<a href="/hosts" >Click here to see all your hosts!</a> <br>



<a href="/podcasts" >Click here to see all your podcasts!</a> <br>



 <a href="/hosts/new">Create a new host!</a><br>

 

  <a href="/podcasts/new">Create a new podcast!</a>


