<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <style>
    .button {
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;

    }

    .button {
      background-color: #008CBA;
    }

    /* Blue */
  </style>
</head>

<body>

  {{{body}}}




  <script src="/javascripts/script.js"></script>
</body>

</html>